* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Arial";
  font-weight: 100;
}

#app {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.signIn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  background: #fefefe;
  color: #093028;
  gap: 50px;
  height: 100vh;
}

.signIn img {
  display: inherit;
  height: 40vh;
}

.signIn #signinForm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 30px;
  height: 80%;
  border-radius: 6px;
}

.signIn #signinForm h1 {
  font-size: 40px;
}

.signIn #signinForm h2 {
  font-size: 30px;
}

.signIn #signinForm #username,
.signIn #signinForm #signinBtn {
  padding: 10px;
  margin: 3px;
  color: #093028;
}

.signIn #signinForm #signinBtn {
  font-size: 15px;
  background-color: #093028;
  color: #fefefe;
  border-radius: 6px;
  border: none;
}

#listaSoba {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 10vw;
  height: 100vh;
}

#listaSoba h1 {
  font-size: 40px;
  color: #093028;
  margin-bottom: 10px;
}

#listaSoba ul {
  font-size: 23px;
  list-style-type: none;
  text-align: center;
}

#listaSoba ul li {
  padding: 5px;
  color: #093028;
}

#listaSoba ul li a {
  text-decoration: none;
  color: #093028;
}

#listaSoba ul li a:visited {
  color: #093028;
}

#listaSoba ul li a:hover {
  text-decoration: underline;
}

#listaSoba ul li a:active {
  color: #f3705a;
}

#listaSoba img {
  height: 40vh;
}

#app {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 100vh;
}

#app #online {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 25px;
  color: #fefefe;
  background-color: #093028;
  width: 15vw;
}

#app #online #asideNaslov {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 4px;
  padding-bottom: 10px;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

#app #online #asideNaslov div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding-bottom: 10px;
  gap: 4px;
}

#app #online #asideNaslov div img {
  height: 30px;
}

#app #online ul {
  list-style-type: none;
}

#app #online ul li {
  padding: 5px;
  color: #fefefe;
}

#app #online ul li .onlineDot {
  color: #31a24c;
  margin-right: 6px;
}

#app #online #asideBottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  align-items: center;
  -ms-flex-item-align: center;
      align-self: center;
}

#app #online #asideBottom a {
  color: #fefefe;
  background-color: rebeccapurple;
  text-decoration: none;
  text-align: center;
  padding: 20px;
  border-radius: 6px;
}

#app #online #asideBottom a:hover {
  text-decoration: underline;
}

#app #online #asideBottom #signOut {
  padding: 8px;
  background-color: #fefefe;
  color: #093028;
  border-radius: 6px;
}

#app #chat-area {
  -webkit-box-flex: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

#app #chat-area h3 {
  background-color: #ebecf0;
  padding: 10px;
  width: 85vw;
}

#app #chat-area h3 span {
  font-weight: 600;
}

#app #chat-area #messages {
  width: 100%;
  padding: 10px;
}

#app #chat-area #messages .container {
  list-style-type: none;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 20px;
}

#app #chat-area #messages .container li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  border-radius: 8px 0px 8px 8px;
  padding: 10px;
  margin: 5px;
  height: 80px;
}

#app #chat-area #messages .container li svg {
  width: 50px;
  height: 50px;
}

#app #chat-area #messages .container li #messageInfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

#app #chat-area #messages .container li #messageInfo small {
  padding-left: 3px;
}

#app #chat-area #messages .container li #messageInfo div:nth-of-type(1),
#app #chat-area #messages .container li #messageInfo span {
  font-weight: bold;
}

#app #chat-area #messages .container li #messageInfo #messageBody div {
  padding: 3px;
}

#app #chat-area #messages .container .sent {
  background-color: #31a24c;
  -ms-flex-item-align: end;
      align-self: flex-end;
  color: white;
  border-radius: 8px 0px 8px 8px;
}

#app #chat-area #messages .container .received {
  background-color: #ebecf0;
  color: black;
  border-radius: 0px 8px 8px 8px;
}

#app #chat-area #messages .container small {
  font-size: 10px;
}

#app #chat-area #inputMsg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding-left: 20px;
  margin-bottom: 30px;
  color: #093028;
  width: 100%;
}

#app #chat-area #inputMsg input,
#app #chat-area #inputMsg button {
  padding: 10px;
  font-size: 15px;
  height: 40px;
}

#app #chat-area #inputMsg input {
  width: 70vw;
}

#app #chat-area #inputMsg button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  background-color: #093028;
  width: 10vw;
  color: #fefefe;
  border-radius: 6px;
  border: none;
}

#app #chat-area #inputMsg button img {
  height: 25px;
}
/*# sourceMappingURL=App.css.map */